{% extends 'drchrono/base.html' %}

{% block script %}
    $(document).ajaxStart(function () {
    });

    $(document).ajaxComplete(function() {
    window.location.replace("/dashboard");
    });



    /*
    $( "<img>" ).attr( "src", item.photo ).appendTo( "#dashboard" )$.getJSON("/load_appointments",function(data){
    var lines = [];
      $.each( data, function( key, val ) {
        items.push( "<li id='" + key + "'>" + val + "</li>" );
      });
    $.each( data.items, function( i, item ) {
    lines.push('<div class="ui divided items">');
    lines.push('<div class="item">');
    lines.push('<div class="image">');
    lines.push('<img src="' + item.photo + '"></div>');;
    });
    });
    });
    */

    $.get('/load_appointments', function(data){
    });

{% endblock %}

{% block content %}
        <div id="api_progress">
            <div class="ui icon message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">
                        Just one second
                    </div>
                    <p>We're fetching your today's appointments.</p>
                </div>
            </div>
        </div>
    <div class="ui segment" id="dashboard">
{#        <div class="ui active dimmer">#}
{#            <div class="ui indeterminate text loader">Preparing Files</div>#}
{#        </div>#}
{#        <div class="ui divided items">#}
{#            <div class="item">#}
{#                <div class="image">#}
{#                    <img src="/images/wireframe/image.png">#}
{#                </div>#}
{#                <div class="content">#}
{#                    <a class="header">12 Years a Slave</a>#}
{#                    <div class="meta">#}
{#                        <span class="cinema">Union Square 14</span>#}
{#                    </div>#}
{#                    <div class="description">#}
{#                        <p></p>#}
{#                    </div>#}
{#                    <div class="extra">#}
{#                        <div class="ui label">IMAX</div>#}
{#                        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <div class="image">#}
{#                    <img src="/images/wireframe/image.png">#}
{#                </div>#}
{#                <div class="content">#}
{#                    <a class="header">My Neighbor Totoro</a>#}
{#                    <div class="meta">#}
{#                        <span class="cinema">IFC Cinema</span>#}
{#                    </div>#}
{#                    <div class="description">#}
{#                        <p></p>#}
{#                    </div>#}
{#                    <div class="extra">#}
{#                        <div class="ui right floated primary button">#}
{#                            Buy tickets#}
{#                            <i class="right chevron icon"></i>#}
{#                        </div>#}
{#                        <div class="ui label">Limited</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <div class="image">#}
{#                    <img src="/images/wireframe/image.png">#}
{#                </div>#}
{#                <div class="content">#}
{#                    <a class="header">Watchmen</a>#}
{#                    <div class="meta">#}
{#                        <span class="cinema">IFC</span>#}
{#                    </div>#}
{#                    <div class="description">#}
{#                        <p></p>#}
{#                    </div>#}
{#                    <div class="extra">#}
{#                        <div class="ui right floated primary button">#}
{#                            Buy tickets#}
{#                            <i class="right chevron icon"></i>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}